
#header, nav { text-align: center; }
.under_navbar { height: 60px; } 

article{ margin-bottom: 20px; }
h2{ margin-bottom: 2px; }
.date{ margin: 2px 0 10px 0; }
.comic{ text-align: center; }

/* stolen IRC theme from my other page */
#irc
{
    padding: 10px;
    font-family: Consolas, monospace;
}

#irc li
{
    list-style-type: none;
    background-color: #EFEFEF;
}

#irc li:nth-of-type(2n)
{
    background-color: #DEDEDE; 
}

#irc .other
{
    font-style: italic;
}


